.panel {
	display: inline-block;
}

.panel-label {
	display: block;
}

.editor,
iframe {
	display: inline-block;
	float: left;
	width: 400px;
	height: 300px;
	border: 1px inset #ccc;
	margin: 10px;
}
